<div class="container" ng-controller="NavigationController">
  <nav class="navbar" role="navigation">
    <div class="navbar-header center-mobile">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"><span class="sr-only">Toggle navigation</span><span class="icon-menu3"></span></button>
      <a class="navbar-brand" ui-sref="index"><img src="../img/logo.png" alt="logo" /></a>
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/') }">
          <a ui-sref="index" ng-click="navCollapsed=true" uib-dropdown-toggle>
            Home
          </a>
        </li>
        <li ng-class="{ active: isActive('/register') }">
          <a ui-sref="register" ng-click="navCollapsed=true" uib-dropdown-toggle>
            Register
          </a>
        </li>
        <li ng-class="{ active: isActive('/login') }">
          <a ui-sref="login" ng-click="navCollapsed=true" uib-dropdown-toggle>
            Login
          </a>
        </li>
      </ul>
      <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/') }">
          <a ui-sref="index" ng-click="navCollapsed=true" uib-dropdown-toggle>
            Home
          </a>
        </li>
        <li>
          <a ui-sref="index" ng-click="navCollapsed=true" uib-dropdown-toggle>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>